@include theme((
  palette: (
    transparent: transparent,
    secondary: (
      dark: #96baef
    ),
    tertiary: (
      dark: #18cfd0
    ),
    accent: (
      DEFAULT: #bf3078,
      dark: #cc3d85
    )
  ),
  radius: (
    DEFAULT: .5rem
  )
));
