@include theme((
  palette: (
    transparent: transparent,
    secondary: (
      dark: #96baef
    ),
    tertiary: (
      dark: #18cfd0
    ),
    accent: (
      5: (
        DEFAULT: #bf3078,
        dark: #cc3d85
      )
    )
  ),
  radius: (
    DEFAULT: .5rem
  )
));
