@include theme((
  main: (
    spacing: (
      DEFAULT: theme(spacing, 4),
      md: theme(spacing, 6),
      lg: theme(spacing, 8)
    )
  )
));

.main {
  @include screens(main, spacing) using ($value) {
    padding: $value;
  }
}