@include theme((
  mode: (
    background: fetch(palette, primary, 4),
    item: (
      font-size: fetch(font, size, 1),
      padding: fetch(spacing, 2),
      color: fetch(palette, primary, 10)
    ),
    light: (
      opacity: (
        DEFAULT: 1,
        dark: 0.5
      )
    ),
    dark: (
      opacity: (
        DEFAULT: 0.5,
        dark: 1
      )
    ),
    current: (
      background: (
        DEFAULT: theme(palette, primary, 5),
        dark: theme(palette, primary, 6, dark)
      ),
      transform: (
        DEFAULT: translateX(0%),
        dark: translateX(100%)
      ),
      shadow-blur: theme(spacing, 3)
    )
  )
));

.mode {
  position: relative;
  display: flex;
  border-radius: 100px;
  width: 100%;
  justify-content: space-between;
  user-select: none;
  @include modes(background, (mode, background));

  &:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 100px;
    box-shadow: 0 1px theme(mode, current, shadow-blur) rgba(black, .15);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    @include modes(background, (mode, current, background));
    @include modes(transform, (mode, current, transform));
  }
}
.mode__light,
.mode__dark {
  display: block;
  position: relative;
  width: 100%;
  cursor: pointer;
  padding: theme(mode, item, padding);
  @include screens(font-size, (mode, item, font-size));
  @include modes(color, (mode, item, color));
}
.mode__light {
  @include modes(opacity, (mode, light, opacity));
}
.mode__dark {
  @include modes(opacity, (mode, dark, opacity));
}
